* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "RocknRoll One", sans-serif;
  font-size: 20px;
  color: #000000;
  background-color: #f5f5f5;
}
.navbar {
  position: static;
}
.preloader-wrapper {
  background-color: #2f2d2e;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}
.preloader {
  position: absolute;
  bottom: 42%;
  width: 100%;
}
#navigation {
  background-color: #f2e86d;
}
#content {
  background-color: #574d68;
}
li.nav-item {
  font-size: 18px;
  margin-right: 40px;
}
a.navbar-brand {
  font-family: "Bangers", cursive;
  font-size: 30px;
  justify-self: start;
  margin-left: 3%;
}
.navbar-light .navbar-nav .nav-link {
  color: #000000;
}
.navbar-light .navbar-toggler {
  color: transparent;
  border: 2px solid #000000;
}
.navbar-light .navbar-toggler:active {
  border: 2px solid #fffafa;
}
.about {
  font-size: 26px;
  padding: 10% 0;
  color: #ffff00;
  text-align: center;
}
.secondpart {
  color: #ffffff;
  font-family: "Bangers", cursive;
}
.experience-section {
  line-height: 1.9;
  padding: 80px 0 25px 0;
  background-color: #a38560;
}
.highlight {
  font-weight: bold;
  color: #ffff00;
  display: inline-block;
  margin-top: 5px;
}
.experience-section > h1 {
  font-size: 1.4em;
  line-height: inherit;
  font-weight: 600;
}
.experience-section > p {
  margin-top: 27px;
  font-size: 21.5px;
}
.experience-section > p > span {
  color: #ffffff;
}
.footer {
  background-color: #d3dfb8;
  padding: 30px 5px;
}
.footer-container {
  width: 35%;
  margin: 60px auto;
}
.footer > p {
  margin-top: 25px;
}
.footer-p {
  display: inline-block;
  font-family: "Bangers", cursive;
  margin-right: 15px;
}
.res-img {
  height: 110px;
  width: 110px;
}
.end-text {
  text-align: end;
}
.start-text {
  text-align: start;
}
.icon-col-margin {
  margin: 30px 0;
}
.navbar-light .navbar-nav .nav-link {
  border-radius: 50px;
  margin-top: 10px;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
  background-color: #f0ffff;
}
#certification {
  color: #000000;
  background-color: #f9da5b;
  padding: 32px 0 32px 0;
}
#certification p {
  line-height: 1.8;
  font-size: 20px;
  padding: 0 11px;
}
.certi-p-2 {
  color: #ff1493;
  margin-top: 6px;
}
.certificate {
  margin: 27px 0;
  padding: 0 10px;
}
.projects-section {
  color: #87ceeb;
  background-color: #444243;
  font-size: 18.3px;
  line-height: 1.9;
  padding: 32px 10px;
}
.projects-section > h3,
.proj-cover-container {
  margin-bottom: 30px;
}
.proj-cover-container {
  padding: 0 3px;
}
.cover {
  box-shadow: 0 0 6px #ffffff;
  border-radius: 6px;
  margin-bottom: 17px;
}
p > strong {
  color: #ffd700;
}
.animation {
  animation-name: motion;
  animation-duration: 2s;
  animation-direction: linear;
  animation-delay: 3ms;
  animation-iteration-count: infinite;
}
@keyframes motion {
  0% {
    color: #0000ff;
  }
  100% {
    color: inherit;
  }
}

/************** Start Of Responsive Designs  ***************/

@media screen and (min-width: 300px) and (max-width: 450px) {
  .about {
    padding: 8% 0;
  }
  .about > p {
    font-size: 22px;
  }
  .experience-section > h1 {
    font-size: 1.1em;
  }
  .footer > p {
    font-size: 17px;
    margin-top: 15px;
    line-height: 2;
  }
  .res-img {
    height: 90px;
    width: 90px;
  }
  .experience-section > p {
    font-size: 18px;
    margin-top: 18px;
    padding: 16px 3px;
  }
  .intro-division {
    width: 95%;
    margin: 0 auto;
  }
  .footer-container {
    width: 65%;
    margin: 60px auto;
  }
  .experience-section {
    padding-top: 50px;
  }
  .footer {
    padding: 30px 0 0 0;
  }
  .footer-p {
    padding-bottom: 20px;
    padding-top: 5px;
  }
  #certification p,
  .projects-section p {
    font-size: 16.5px;
  }
  .project-p {
    padding: 7px;
    margin-bottom: 10px;
  }
  .cover {
    margin-bottom: 6px;
  }
  .icon-col-margin {
    margin: 22px 0;
  }
}

/********** END OF MOBILE-VIEW ************/

@media screen and (min-width: 451px) and (max-width: 767px) {
  .footer-container {
    width: 60%;
    margin: 10% auto;
  }
  .experience-section {
    padding: 60px 8px;
  }
  .experience-section > h1 {
    font-size: 1.3em;
  }
  .experience-section > p {
    margin-top: 5%;
    font-size: 20px;
  }
  .footer > p {
    font-size: 19px;
    margin-top: 15px;
  }
  .about {
    padding: 8% 5px;
  }
  #certification p,
  .projects-section {
    font-size: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about {
    font-size: 2.92vw;
    margin-top: auto;
    padding: 0 0 20px 0;
  }
  .experience-section {
    padding: 55px 0;
  }
  #certification p {
    font-size: 18.7px;
  }
}

/*********** END OF TABLET VIEW  ***************/

@media screen and (min-width: 768px) {
  .proj-cover-container {
    max-width: 337px;
    max-height: 100%;
  }
  .proj-container-1 {
    margin-left: auto;
  }
}
@media screen and (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link {
    border-radius: 15px;
    padding: 5px 15px;
  }
  li > a.nav-link#home:nth-child(1) {
    background-color: #f0ffff;
    font-weight: 600;
  }
  #navigation {
    padding: 4px 0;
  }
  .intro-division {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .about {
    font-size: 33px;
    margin-top: auto;
    padding: 0 0 40px 0;
  }
  .experience-section {
    padding: 60px 0;
  }
}

/*************** END OF DESKTOP-VIEW *******************/

/************** END Of Responsive Design ***************/